body
    header
        div.container
            div.navigation-list
                        div.left-block-header
                            div.logo
                                img(src="../images/logo.png")
                        div.right-block-header
                                nav.navigation
                                    div Home
                                    div Service
                                    div Cart
                                    button Login 