sextion.section8 
            div.section8-block
                div.section8-tittle-middle 
                    h3 What we have achieved till date
                div.section8-block-middle
                    div.section8-block-left   
                        div.section8-image 
                            img(src="../images/redcar.png")    
                    div.section8-block-right 
                        div.block-text-p
                            p Metre Per Secod is a 5 year old India's Premium and Best Rated Car Maintenance Startup. A glimpse of what we have achieved is as follows
                        div.section8-block-right-list 
                            img(src="../images/krugcar.png")
                            p 150K+ Car’s get Serviced
                        div.section8-block-right-list 
                            img(src="../images/Ellipse 4.png")
                            p 4.8  Rated
                        div.section8-block-right-list 
                            img(src="../images/Ellipse 5.png")
                            p 100K+ Happy Customers  


                    





