section.section1
        div.container
            div.section1-block 
                div.left-block-section1 
                    button Select A car
                div.right-block-section1 
                    div.whatsap
                        img(src="../images/whatsap.png")
                        img(src="../images/zvonok.png")
                    