section.section5
    div.container
        div.section5-block
            div.section5-tittle
                h4 Company’s overview car services
            div.section5-list-service
                div.section5-list-block 
                    p Car Repairs  
                div.section5-list-block 
                    p Car Inspection
                div.section5-list-block 
                    p Car Denting & Painting
                div.section5-list-block 
                    p Car Major Repairs 
                div.section5-list-block 
                    p Car Custom Repairs 
                div.section5-list-block 
                    p Car AC Service 
                     


                