section.section3
        div.container 
            div.section3-block 
                div.section3-block-tittle 
                    h4 Our partners
                div.section3-block-image 
                    img(src="../images/bro4.png")
                    img(src="../images/uber.png")
                    img(src="../images/ola.png")
                    img(src="../images/pit.png")
                    img(src="../images/all.png")
                    img(src="../images/urban.png")


            



