section.section6
    div.container 
        div.section6-block-middle
            div.section6-block 
                div.section6-tittle 
                    h3 Our services
            div.section6-block-list-car   
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/minicar.png")
                                p 01
                            div.section6-tittle-card
                                p General Service
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/3.png")
                                p 02
                            div.section6-tittle-card
                                p Denting and Painting
                            div.section6-button-card
                                button Enquire Us 
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/4.png")
                                p 03
                            div.section6-tittle-card
                                p Car Inspection
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/4.png")
                                p 04
                            div.section6-tittle-card
                                p Battery replacement
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/5.png")
                                p 05
                            div.section6-tittle-card
                                p AC service & repair
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/6.png")
                                p 06
                            div.section6-tittle-card
                                p Car fitments
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/7.png")
                                p 07
                            div.section6-tittle-card
                                p Car Detailing Services
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/8.png")
                                p 08
                            div.section6-tittle-card
                                p Car major repairs
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/9.png")
                                p 09
                            div.section6-tittle-card
                                p Windshield & Lights
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/10.png")
                                p 10
                            div.section6-tittle-card
                                p Suspeension Repairs
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/11.png")
                                p 11
                            div.section6-tittle-card
                                p Clutch Repairs
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/12.png")
                                p 12
                            div.section6-tittle-card
                                p Tires & Wheels
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/13.png")
                                p 13
                            div.section6-tittle-card
                                p Insurence Claims
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/14.png")
                                p 14
                            div.section6-tittle-card
                                p Membership
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/15.png")
                                p 15
                            div.section6-tittle-card
                                p Car Services
                            div.section6-button-card
                                button Enquire Us
                    div.section6-card-list 
                        div.section6-card-list-1
                            div.section6-image-list1
                                img(src="../images/16.png")
                                p 16
                            div.section6-tittle-card
                                p Brake Repairs
                            div.section6-button-card
                                button Enquire Us
                                                                                                                                                                                                                                                                                                                                                                                                    
                                                    
                         



