section.section4
        div.container
            div.section4-block-container 
                div.section4-block-tittle 
                    div.section4-image-levaja
                        img(src="../images/levaja.png")
                    div.section4-block-tittle-text 
                        h4 About us 
                        p At meter per second, we take pride in our values
                        p - Service,integrity and excellece.
                    div.section4-image-pravaja
                        img(src="../images/pravaja.png")
            div.section4-block2
                        div.section4-block2-text1
                            h1 1.
                            h5 Who we are?
                            p Established in 2016, with a Vision to Provide Customers Transparent, Convenient and Reliable Car Service and Repair right at Customer Doorstep in Hyderabad
                        div.section4-block2-text1
                            h1 2.
                            h5 What is the problem?
                            p Established in 2016, with a Vision to Provide Customers Transparent, Convenient and Reliable Car Service and Repair right at Customer Doorstep in Hyderabad
                        div.section4-block2-text1
                            h1 3.
                            h5 How do we help?
                            p Established in 2016, with a Vision to Provide Customers Transparent, Convenient and Reliable Car Service and Repair right at Customer Doorstep in Hyderabad         
                    
            
