section.section2-block
    div.container
            Div.tiitle-section2
                div.text-section2
                    h4 Car repair at your door step
                div.button-section2-block
                    button Select a car
                div.section2-image-block 
                    img(src="../images/asset.png")
               



            
            