section.section7
    div.container 
        div.section7-block
            div.section7-block-middle
                div.section7-block-tittle
                    h2 Our Trademark
            div.section7-block-container        
                div.section7-block-list
                        div.section7-block-image 
                            div.section7-block-image-white
                                img(src="../images/car1.png")
                        div.section7-text 
                            div.sextion7-tittle-text 
                                h3 90 Min Car Service
                                p Experience Quick Service which completes in just 90 Minutes, which will help you save your precious time and efforts of visiting Workshops to get your Car Serviced.
                div.section7-block-list
                        div.section7-block-image 
                            div.section7-block-image-white
                                img(src="../images/carsmall.png")
                        div.section7-text 
                            div.sextion7-tittle-text 
                                h3 In-house Technicians
                                p Metre Per Second recruits Best in class German Car Technicians with a Minimum of 8+ years of Experience and Train them. After enabling them with Garage Nation's standards they are assigned for Services/repairs.        
                div.section7-block-list
                        div.section7-block-image 
                            div.section7-block-image-white
                                img(src="../images/money.png")
                        div.section7-text 
                            div.sextion7-tittle-text 
                                h3 Savings up to 40%
                                p Experience Quick Service which completes in just 90 Minutes, which will help you save your precious time and efforts of visiting Workshops to get your Car Serviced.                       